body {
    background-color: lightcoral;
    font-family: "Courier New", Courier, monospace;
}

.cards-container {
    display: flex;
    flex-flow: row wrap;
}

.image-card {
    height: 30px;
    width: 30px;
}
