body {
    background-color: lightcoral;
    font-family: "Courier New", Courier, monospace;
}

.cards-container {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
}

img {
    border-radius: 8px;
    margin: 2px;
}

/* .image-card {
    height: 30px;
    width: 30px;
} */
